*.pyc
*.o
*.s
*.a
*.la
*.so
AdnsTest/Binary/
AdnsTest/Makefile
AdnsTest/Makefile.in
AdnsTest/_aux/
AdnsTest/autom4te.cache/
AdnsTest/config.log
AdnsTest/config.status
AdnsTest/configure
AdnsTest/libtool
AdnsTest/package_config.h
AdnsTest/package_config.h.in
AdnsTest/src/.deps/
AdnsTest/src/Makefile
AdnsTest/src/Makefile.in
AdnsTest/src/adns_test
AdnsTest/stamp-h1
AdnsTest/third-party/adns-1.2/autom4te.cache/
AdnsTest/third-party/adns-1.2/client/Makefile
AdnsTest/third-party/adns-1.2/client/adnsheloex
AdnsTest/third-party/adns-1.2/client/adnsheloex_s
AdnsTest/third-party/adns-1.2/client/adnshost
AdnsTest/third-party/adns-1.2/client/adnshost_s
AdnsTest/third-party/adns-1.2/client/adnslogres
AdnsTest/third-party/adns-1.2/client/adnslogres_s
AdnsTest/third-party/adns-1.2/client/adnsresfilter
AdnsTest/third-party/adns-1.2/client/adnsresfilter_s
AdnsTest/third-party/adns-1.2/client/adnstest_s
AdnsTest/third-party/adns-1.2/client/fanftest_s
AdnsTest/third-party/adns-1.2/config.log
AdnsTest/third-party/adns-1.2/config.status
AdnsTest/third-party/adns-1.2/dynamic/Makefile
AdnsTest/third-party/adns-1.2/dynamic/libadns.so.1
AdnsTest/third-party/adns-1.2/dynamic/libadns.so.1.2
AdnsTest/third-party/adns-1.2/regress/Makefile
AdnsTest/third-party/adns-1.2/regress/adnshost_playback
AdnsTest/third-party/adns-1.2/regress/adnshost_record
AdnsTest/third-party/adns-1.2/regress/adnslogres_playback
AdnsTest/third-party/adns-1.2/regress/adnslogres_record
AdnsTest/third-party/adns-1.2/regress/adnsresfilter_playback
AdnsTest/third-party/adns-1.2/regress/adnsresfilter_record
AdnsTest/third-party/adns-1.2/regress/adnstest_playback
AdnsTest/third-party/adns-1.2/regress/adnstest_record
AdnsTest/third-party/adns-1.2/settings.make
AdnsTest/third-party/adns-1.2/src/Makefile
AdnsTest/third-party/adns-1.2/src/config.h.in~
DistributedCron/bin/#DCronAgent#
